.wrapper {
}
.backgroundHome {
  background: url(../../public/images/background/home.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -5;
}

.backgroundAbout {
  background: url(../../public/images/background/about.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -5;
}

.backgroundContact {
  background: url(../../public/images/background/contact.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -6;
}
