.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  .background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../../public/images/background/home.jpg);
    background-size: cover;
    .textWrapper {
      background-color: rgba(0, 0, 0, 0.2);
      width: 70%;
      height: 100%;
      position: absolute;
      right: 0;

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        height: 100%;
        gap: 40px;
        width: 90%;
        right: 5vw;
        position: absolute;
        color: white;

        h2 {
          font-size: 20px;
          line-height: 1.55;
          letter-spacing: 10px;
          font-weight: 300;
        }

        h1 {
          font-size: 4.857rem;
          line-height: 1.08;
          letter-spacing: 0.4rem;
          font-weight: 500;
        }

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 40px;
          font-size: 1.5rem;
          letter-spacing: 0.3rem;
          font-weight: 500;
          border-radius: 200px;
          border: solid 2px white;
          color: white;
          text-align: center;
          position: relative;
          overflow: hidden;

          .back {
            background-color: white;
            width: 1px;
            position: absolute;
            height: 40px;
            left: -10px;
            z-index: 39;
            border-radius: 50px;
          }

          .front {
            text-align: center;
            z-index: 40;
          }
        }
      }
    }
  }
}
