.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 992px) {
    position: static;
  }

  .background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../../public/images/background/music.jpg);
    background-size: cover;
    background-position: center;

    .textWrapper {
      text-align: right;

      width: 70%;
      height: 100%;
      position: absolute;
      right: 0;

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        gap: 80px;
        width: 85%;
        right: 5vw;
        position: absolute;
        color: #080403;

        .musicContainer {
          background-color: #00000098;
          width: 85%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          text-align: justify;
          gap: 70px;
        }

        p {
          width: 100%;
          font-size: 1.57rem;
          line-height: 1.55;
          letter-spacing: 1px;
          font-weight: 300;
        }

        h2 {
          font-size: 4.857rem;
          line-height: 1.08;
          letter-spacing: 0.4rem;
          font-weight: 500;
        }

        button {
          font-size: 2rem;
        }
      }
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  border-radius: 200px;
  border: solid 2px #080403;
  color: #080403;
  text-align: center;
  position: relative;
  overflow: hidden;

  .back {
    background-color: #080403;
    width: 1px;
    position: absolute;
    height: 40px;
    left: -10px;
    z-index: 39;
    border-radius: 50px;
  }

  .front {
    text-align: center;
    z-index: 40;
  }
}
